@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-size: map-get($font-sizes, "md");
  font-weight: map-get($font-weights, "normal");
  line-height: 120%;

  color: map-get($colors, "secondary-800");
}
