@import url("https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;500;600&display=swap");

body {
  font-family: "Work Sans", sans-serif;
  font-style: normal;
  font-size: map-get($font-sizes, "md");
  font-weight: map-get($font-weights, "normal");
  line-height: 120%;

  color: map-get($colors, "secondary-800");
}
