* {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
  border: none;
  outline: none;
  transition: all 0.3s ease;
}

*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

ul {
  list-style: none;
}

img {
  width: 100%;
  display: block;
}

a {
  text-decoration: none;
}
