.article-editor {
  background-color: map-get($colors, "white");
  border-radius: 8px;

  &-error-wrapper {
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    background: rgba(220, 38, 38, 0.1);
    padding: 20px;
  }

  &-error-title {
    color: rgba(185, 28, 28);
    font-weight: map-get($font-weights, bold);
    margin-bottom: 10px;
  }

  &-form {
    display: flex;
    flex-direction: column;
    background: map-get($colors, "white");
    border-radius: 8px;
    padding: 14px;
  }

  &-drop-zone {
    text-align: center;
    border-radius: 8px;
    cursor: pointer;

    &-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
      padding: 20px;
      border: 2px dashed #ccc;
      border-radius: 4px;
      background: #f2fbfe;
    }

    &-title {
      color: #18b0c7;
      font-size: map-get($font-sizes, "md");
    }

    &-text {
      color: #81c3d2;

    }
  }

  &-upload-input {
    display: none;
  }

  &-cover-upload {
    display: none;
  }

  &-image {
    height: 400px;
    object-fit: cover;
  }

  &-title-input {
    font-family: "Montserrat", sans-serif;
    font-size: 32px;
    font-weight: map-get($font-weights, bold);
    color: map-get($colors, secondary-800);
    resize: none;
    margin: 16px 0px;

    &::placeholder {
      font-size: 32px;
      font-weight: map-get($font-weights, bold);
      color: map-get($colors, secondary-400);
    }
  }

  &-desc-input {
    font-family: "Montserrat", sans-serif;
    font-size: map-get($font-sizes, "xl");
    font-weight: map-get($font-weights, "medium");
    resize: none;
    margin: 16px 0px;
  }

  &-tags-search-group {
    margin-bottom: 16px;
  }

  &-tags-search {
    width: 100%;
    font-size: map-get($font-sizes, md);
    font-weight: map-get($font-weights, normal);
    padding: 10px 0;

    &::placeholder {
      font-size: map-get($font-sizes, md);
      font-weight: map-get($font-weights, normal);
    }
  }

  &-tag-list {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    margin-right: 20px;
  }

  &-tag-item {
    display: inline-block;
    max-width: 100%;
    cursor: pointer;

    .badge.text-truncate {
      max-width: 100%;
    }
  }

  &-cover-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 0;
    height: 400px;
    overflow: hidden;
  }

  &-status-select {
    font-size: map-get($font-sizes, md);
    font-weight: map-get($font-weights, normal);
    color: map-get($colors, secondary-500);
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 8px;
    align-self: flex-end;
  }

  &-status-option {
    font-size: map-get($font-sizes, md);
    font-weight: map-get($font-weights, normal);
    color: map-get($colors, secondary-500);
    padding: 10px 0;
  }

  &-form-group {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
  }

  &-form-action {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &-form-save-button-wrapper {
    display: flex;
    gap: 4px;
  }

  &-upload-error {
    font-weight: map-get($font-weights, md);
    font-size: map-get($font-sizes, lg);
  }

  .ck {

    * {
      font-family: 'Montserrat', sans-serif;
      margin-bottom: 0 !important;
      line-height: 1.5 !important;
    }

    p:not(:has(br[data-cke-filler="true"])),
    h1,
    h2,
    h3,
    h4,
    h5 {
      line-height: 1.5 !important;
      margin-bottom: 14px !important;
    }

    p>br[data-cke-filler="true"] {
      margin-bottom: 0;
    }

    &.ck-toolbar__items {
      justify-content: space-between;
    }

    &-content {
      min-height: 250px;
    }
  }
}
