.badge {
  display: inline-block;
  padding: 4px 10px;

  border-radius: 40px;
  text-align: center;
  vertical-align: middle;

  font-size: map-get($font-sizes, "xs");
  font-weight: map-get($font-weights, "medium");
  line-height: 16px;

  &.badge-primary {
    color: #7f8080;
    background-color: #f2f2f2;

    &:hover {
      background-color: map-get($colors, "primary");
      color: map-get($colors, "white");
    }
  }

  &.text-truncate {
    max-width: 90px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline-block;
  }

  &-status {
    display: flex;
    align-items: center;
    gap: 4px;
    color: map-get($colors, "primary");
    border: 1px solid map-get($colors, "primary");
    user-select: none;

    &-primary {
      color: map-get($colors, "white");
      background-color: map-get($colors, "primary");
    }
  }
}
