.badge {
  display: inline-block;
  padding: 4px 10px;
  min-width: 40px;

  border-radius: 20px;
  text-align: center;
  vertical-align: middle;

  font-size: map-get($font-sizes, "xs");
  font-weight: map-get($font-weights, "medium");
  line-height: 16px;

  &.badge-primary {
    color: map-get($colors, "primary");
    background-color: map-get($colors, "primary-50");
    // border: 0.5px solid map-get($colors, "primary");

    &:hover {
      background-color: map-get($colors, "primary");
      color: map-get($colors, "white");
      // border: 0.5px solid map-get($colors, "primary");
    }
  }
}
