.btn {
  display: inline-block;
  padding: 10px 16px;
  position: relative;

  text-align: center;
  vertical-align: middle;
  white-space: nowrap;

  font-size: map-get($font-sizes, "sm");
  font-weight: map-get($font-weights, "medium");

  border-radius: 4px;
  border: 1px solid transparent;

  user-select: none;
  cursor: pointer;

  &.btn-outline {
    background-color: map-get($colors, "white");
    border-color: map-get($colors, "primary");
    color: map-get($colors, "primary");

    &:hover {
      border-color: map-get($colors, "primary");
      background-color: map-get($colors, "primary");
      color: map-get($colors, "white");
    }
  }

  &.btn-primary {
    border-color: map-get($colors, "primary");
    background-color: map-get($colors, "primary");
    color: map-get($colors, "white");

    &:hover {
      opacity: 0.8;
    }

    &.loading {
      &::after {
        content: "";
        position: absolute;
        width: 20px;
        height: 20px;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        border: 3px solid transparent;
        border-top-color: #ffffff;
        border-radius: 50%;
        animation: button-loading-spinner 1s ease infinite;
      }

      .btn-text {
        visibility: hidden;
        transition: none;
        opacity: 0;
      }

      @keyframes button-loading-spinner {
        from {
          transform: rotate(0turn);
        }

        to {
          transform: rotate(1turn);
        }
      }
    }

    &:disabled {
      cursor: not-allowed;
      border: none;
      color: map-get($colors, secondary-400);
      background: map-get($colors, secondary-100);
    }
  }

  &-secondary {
    border-color: map-get($colors, "yellow");
    background-color: map-get($colors, "yellow");
    color: map-get($colors, "primary");

    &:hover {
      background-color: #cfaf2f;
      border-color: #cfaf2f;
    }
  }

  &-edit {
    display: flex;
    align-items: center;
    gap: 5px;
    font-size: map-get($font-sizes, sm);

    &:hover {
      color: #4b6bfb;
      .icon.icon-pen {
        background-image: url("../assets/icons/ic-pen-highlight.svg");
      }
    }
  }

  &-danger-outline {
    padding: 8px 26px;
    color: map-get($colors, primary);
    border: 1px solid map-get($colors, primary);
  }

  &-danger {
    padding: 8px 26px;
    color: map-get($colors, "white");
    background: #cb2027;

    &:hover {
      box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
        rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
    }
  }
}
