.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;

  &-show {
    background-image: url("../assets/icons/ic-show.svg");
  }

  &-hide {
    background-image: url("../assets/icons/ic-hide.svg");
  }

  &-success {
    width: 35px;
    height: 35px;
    background-image: url("../assets/icons/ic-success.svg");
  }

  &-error {
    width: 35px;
    height: 35px;
    background-image: url("../assets/icons/ic-error.svg");
  }

  &-warning {
    width: 35px;
    height: 35px;
    background-image: url("../assets/icons/ic-waring.svg");
  }

  &-comment {
    width: 16px;
    height: 16px;
    background-image: url("../assets/icons/ic-comment.svg");
  }

  &-unlike {
    width: 16px;
    height: 16px;
    background-image: url("../assets/icons/ic-unlike.svg");
  }

  &-arrow-up {
    width: 28px;
    height: 28px;
    background-image: url("../assets/icons/ic-arrow-up.svg");
  }


  &-tag {
    width: 30px;
    height: 30px;
    background-image: url("../assets/icons/ic-tag.svg");
  }
  &-comment-normal {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/ic-comment-normal.svg");

    &:hover {
      background-image: url("../assets/icons/ic-comment-highlight.svg");
    }
  }

  &-like-normal {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/ic-like-normal.svg");

    &:hover {
      background-image: url("../assets/icons/ic-like-fulfill.svg");
    }
  }

  &-like-fulfill {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/ic-like-fulfill.svg");
  }

  &-bookmark {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/ic-bookmark.svg");

    &:hover {
      background-image: url("../assets/icons/ic-bookmark-highlight.svg");
    }

  }

  &-dob {
    width: 20px;
    height: 20px;
    background-image: url("../assets/icons/ic-dob.svg");
  }

  &-person {
    width: 18px;
    height: 18px;
    background-image: url("../assets/icons/ic-person.svg");
  }

  &-mail {
    width: 18px;
    height: 18px;
    background-image: url("../assets/icons/ic-mail.svg");
  }

  &-comment-darker {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/ic-comment-darker.svg");
  }

  &-comments-number {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/ic-comments-number.svg");
  }

  &-post-number {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/ic-post.svg");
  }

  &-followed-tag {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/ic-followed-tag.svg");
  }

  &-earch {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/ic-earch.svg");
  }

  &-lock {
    width: 24px;
    height: 24px;
    background-image: url("../assets/icons/ic-lock.svg");
  }
}
