.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;

  &-show {
    background-image: url("../assets/icons/ic-show.svg");
  }

  &-hide {
    background-image: url("../assets/icons/ic-hide.svg");

    &-success {
      width: 35px;
      height: 35px;
      background-image: url("../assets/icons/ic-success.svg");
    }

    &-error {
      width: 35px;
      height: 35px;
      background-image: url("../assets/icons/ic-error.svg");
    }

    &-warning {
      width: 35px;
      height: 35px;
      background-image: url("../assets/icons/ic-waring.svg");
    }
  }
}
