.icon {
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;
  background-repeat: no-repeat;

  &-show {
    background-image: url("../assets/icons/ic-show.svg");
  }

  &-hide {
    background-image: url("../assets/icons/ic-hide.svg");
  }

  &-comment {
    background-image: url("../assets/icons/ic-comment.svg");
  }

  &-unlike {
    background-image: url("../assets/icons/ic-unlike.svg");
  }

  &-arrow-up {
    width: 28px;
    height: 28px;
    background-image: url("../assets/icons/ic-arrow-up.svg");
  }
}
