.modal-wrapper {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);

  .modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;

    &-header {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    &-body {
      padding: 10px 0;
    }

    &-footer {
      display: flex;
      gap: 4px;
    }

    &-close {
      font-size: 24px;
      padding: 6px;
      cursor: pointer;
    }

    &-title {
      font-size: 18px;
      color: map-get($colors, secondary-800);
    }
  }
}
