.modal-wrapper {
  position: fixed;
  z-index: 20;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.6);

  .modal-confirm {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #eee;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }

  .modal {
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 90%;
    max-width: 420px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    &-header {
      display: flex;
      gap: 20px;
      align-items: center;
      margin-bottom: 16px;
    }

    &-header-action {
      display: flex;
      padding: 4px 0;
      justify-content: space-between;

      .modal-title {
        font-size: 16px;
        font-weight: map-get($font-weights, "bold");
        color: #6b7280;
        letter-spacing: 2px;
        margin-left: 20px;
        line-height: 31px;
      }
    }

    &-content {
      overflow-y: scroll;
      max-height: 386px;
      border-bottom-left-radius: 10px;
      border-bottom-right-radius: 10px;

      &::-webkit-scrollbar {
        width: 5px;
      }

      &::-webkit-scrollbar-thumb {
        background: #666;
      }
    }

    &-message {
      display: flex;
      align-items: center;
      gap: 15px;
      line-height: 1.5;
    }

    &-footer {
      display: flex;
      gap: 4px;
    }

    &-close {
      font-size: 29px;
      padding: 6px;
      margin-right: 6px;
      font-weight: 600;
      cursor: pointer;
    }

    &-title {
      font-size: 16px;
      color: map-get($colors, secondary-800);
      font-weight: map-get($font-weights, medium);
    }
  }
}

@include mobile {
  .modal-wrapper {
    .modal-confirm {
      max-width: 320px;
    }
  }
}
