.post {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;

  max-width: 392px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid map-get($colors, secondary-100);
  background: map-get($colors, white);
  transition: all 0.2s ease-in-out;

  &-image-wrapper {
    max-width: 240px;
    max-width: 360px;
  }

  &-header {
    display: flex;
    align-items: center;
    justify-content: space-between;

    width: 100%;
  }

  &-action {
    display: flex;
    align-items: center;
    gap: 16px;
  }

  &-action-group {
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: map-get($font-weights, bold);
  }

  &-body {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  &-image {
    border-radius: 6px;
    height: 240px;
    object-fit: cover;
    border: 1px solid map-get($colors, secondary-100);
  }

  &-content {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  &-title {
    font-size: map-get($font-sizes, "2xl");
    font-weight: map-get($font-weights, bold);
    color: map-get($colors, secondary-800);
    line-height: 28px; /* 116.667% */

    -webkit-line-clamp: 1; /* Set the number of lines to display */
  }

  &-desc {
    font-size: map-get($font-sizes, "sm");
    font-weight: map-get($font-weights, normal);
    color: map-get($colors, secondary-700);
    -webkit-line-clamp: 2; /* Set the number of lines to display */
    min-height: 39px;
  }

  &-info {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: map-get($font-sizes, md);
    color: map-get($colors, secondary-600);
    line-height: 1.5;
  }

  &-about {
    display: flex;
    flex-direction: column;
  }

  &-author {
    display: flex;
    align-items: center;
    gap: 12px;

    min-height: 48px;
  }

  &-author-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  &-author-name {
    font-weight: map-get($font-weights, bold);
    max-width: 270px;
    word-wrap: break-word;
  }

  &-date {
    font-size: map-get($font-sizes, sm);
    font-weight: map-get($font-weights, normal);
  }

  &:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transform: scale(1.05);
  }
}

.post-skeleton {
  &:hover {
    box-shadow: none;
    transform: none;
  }

  .post {
    &-content {
      padding: 8px 0;
    }

    &-body {
      width: 100%;
    }

    &-header {
      height: 24px;
      border-radius: 4px;
    }

    &-title {
      width: 80%;
      height: 28px;
      border-radius: 4px;
    }

    &-desc {
      border-radius: 4px;
      height: 39px;
    }

    &-author {
      border-radius: 4px;
      height: 48px;
      width: 55%;
    }
  }
}
