.post {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;

  max-width: 392px;
  padding: 16px;
  border-radius: 12px;
  border: 1px solid map-get($colors, secondary-100);
  background: map-get($colors, white);

  &-image-wrapper {
    max-width: 240px;
    max-width: 360px;
  }

  &-image {
    border-radius: 6px;
  }

  &-content {
    padding: 8px;
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 16px;
  }

  &-title {
    font-size: map-get($font-sizes, xxl);
    font-weight: map-get($font-weights, bold);
    color: map-get($colors, secondary-800);
    line-height: 28px; /* 116.667% */
  }

  &-desc {
    display: flex;
    align-items: center;
    gap: 20px;

    font-size: map-get($font-sizes, md);
    color: map-get($colors, secondary-600);
    line-height: 1.5;
  }

  &-author {
    display: flex;
    align-items: center;
    gap: 12px;
  }

  &-author-avatar {
    width: 36px;
    height: 36px;
    border-radius: 50%;
  }

  &-author-name {
    font-weight: map-get($font-weights, medium);
  }

  &-date {
    font-weight: map-get($font-weights, normal);
    text-wrap: nowrap;
  }
}
