.short-info {
  display: flex;
  align-items: center;
  gap: 8px;

  &-author {
    display: flex;
    align-items: center;
  }

  &-author-avatar {
    width: 28px;
    height: 28px;
    border: 1px solid #eee;
    border-radius: 50%;
    margin-right: 8px;
  }

  &-author-name {
    font-size: map-get($font-sizes, sm);
    font-weight: map-get($font-weights, medium);
    line-height: 1.4;
  }

  &-dot-symbol {
    font-size: 10px;
  }

  &-timestamp {
    font-size: map-get($font-sizes, sm);
    font-weight: map-get($font-weights, normal);
    color: map-get($colors, secondary-500);
  }
}
