.toast {
  min-width: 250px;
  padding: 20px;

  position: fixed;
  z-index: 999;
  top: 60px;
  right: 30px;

  border-radius: 12px;
  border-left: 10px solid #4070f4;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);

  overflow: hidden;
  transform: translateX(calc(100% + 30px));
  transition: all 0.5s cubic-bezier(0.68, -0.55, 0.265, 1.35);
  background-color: #ffffff;

  &.active {
    transform: translateX(0%);
  }

  &-success {
    border: 1px solid #28a745;
    border-left: 6px solid #28a745;
  }

  &-error {
    border: 1px solid #c82333;
    border-left: 6px solid #c82333;
  }

  &-warning {
    border: 1px solid #e0a800;
    border-left: 6px solid #e0a800;
  }

  &-btn {
    padding: 5px;

    position: absolute;
    top: 0;
    right: 8px;

    border: none;
    font-size: 24px;
    background-color: transparent;
    opacity: 0.7;
    cursor: pointer;
  }

  &-message {
    margin: 0 20px;

    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &-title {
    font-size: map-get($font-sizes, "xl");
    font-weight: map-get($font-weights, "medium");
  }

  &-desc {
    font-size: map-get($font-sizes, "sm");
    font-weight: map-get($font-weights, "regular");
    color: map-get($colors, "secondary-500");
  }

  .visible {
    opacity: 1;
  }

  .icon-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
