.profile-section {
  .profile {
    margin-top: -48px;
    &-header {
      padding: 0px 32px;
      position: relative;
      justify-content: center;

      .user {
        &-avatar-wrapper {
          position: relative;
          width: 128px;
          height: 128px;
          border-radius: 50%;
          padding: 8px;
          background-color: black;
          z-index: 2;
        }
        &-avatar {
          border-radius: 50%;
        }
      }
      &-action {
        width: 100%;
        padding: 24px 24px 0px;

        position: absolute;
        right: 0;
        bottom: 0;

        border-top-right-radius: 8px;
        border-top-left-radius: 8px;

        justify-content: flex-end;
        background-color: #ffffff;
      }
    }

    &-content {
      background-color: #ffffff;
      padding: 24px;
      border-bottom-right-radius: 8px;
      border-bottom-left-radius: 8px;
      align-items: center;

      .user {
        &-name {
          font-size: 32px;
          font-weight: map-get($font-weights, "medium");
          line-height: 1.4;
          margin-bottom: 16px;
        }

        &-follow-list {
          font-size: map-get($font-sizes, "lg");
          margin-bottom: 24px;
          gap: 48px;
        }

        &-follow-amount {
          font-weight: map-get($font-weights, "medium");
        }

        &-about-list {
          font-size: map-get($font-sizes, "sm");
          color: #717171;
          margin-bottom: 8px;
          gap: 64px;
        }

        &-about-item {
          gap: 10px;
          align-items: center;
        }
      }
    }
  }
}
