.footer {
  background: map-get($colors, primary);

  &-title {
    color: map-get($colors, "yellow");
    font-size: map-get($font-sizes, "xl");
    font-weight: map-get($font-weights, "bold");
    text-transform: uppercase;
    margin-bottom: 14px;
  }

  .main-footer {
    padding: 50px 0;

    .logo {
      width: 110px;

      &-image {
        width: 100%;
        display: block;
        object-fit: cover;
      }
    }
  }

  &-reference {
    &-item {
      &:not(:last-child) {
        margin-bottom: 14px;
      }
    }

    &-link {
      display: inline-block;
      color: map-get($colors, "white");

      &:hover {
        color: map-get($colors, "yellow");
      }
    }
  }

  .sub-footer {
    .container {
      display: flex;
      align-items: center;
    }

    padding: 20px 0;
    border-top: 1px solid map-get($colors, "dark-yellow");

    .container {
      display: flex;
      justify-content: space-between;
    }

    .copy-right {
      color: map-get($colors, "white");
    }
  }

  &-social-list {
    display: flex;
    gap: 14px;
  }

  &-social-item {
    .icon {
      border-radius: 50%;
    }

    &:hover {
      .icon {
        box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 8px 0px;
      }
    }
  }

}
