.header {
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: map-get($colors, "white");
  box-shadow: 0px 8px 24px rgba(149, 157, 165, 0.1);

  &-inner {
    padding: 16px 0;
    justify-content: space-between;
    align-items: center;

    .logo {
      width: 110px;
      object-fit: cover;
    }
  }

  &-logo {
    height: 100%;
    display: flex;
    align-items: center;
  }

  .nav {
    height: 100%;
    display: flex;
    align-items: center;
    &-list {
      height: 100%;
      gap: 48px;
      align-items: center;
    }

    &-link {
      color: map-get($colors, "secondary-500");
      font-size: map-get($font-sizes, "sm");
      transition: text-decoration 0.2s ease;
      text-transform: uppercase;
      position: relative;
      white-space: nowrap;
      font-weight: map-get($font-weights, "bold");

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -8px;
        width: 0;
        height: 2px;
        background-color: map-get($colors, "secondary-800");
        transition: width 0.4s ease;
      }

      &:hover {
        color: map-get($colors, "secondary-800");
        &::after {
          width: 100%;
        }
      }
    }
  }

  &-action {
    justify-content: flex-end;
    height: 100%;
  }

  .action-list {
    align-items: center;
    gap: 16px;

    .user-avatar {
      &-wrapper {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0.5px solid #eeeeee;
      }
      border-radius: 50%;
    }

    .user-action {
      position: relative;

      .user-avatar-wrapper {
        &:hover {
          cursor: pointer;
          box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      z-index: 3;
      top: calc(100% + 10px);
      right: 0;

      border-radius: 4px;
      background-color: #ffffff;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

      .menu-item {
        &:not(:last-child) {
          border-bottom: 0.5px solid #c4c4c4;
        }

        .user-name {
          margin: 12px 0px;
          text-align: center;
          font-size: map-get($font-sizes, "lg");
          font-weight: map-get($font-weights, "medium");
        }

        .menu-action {
          padding: 12px 20px;
          gap: 12px;
          align-items: center;
          font-size: 15px;
          &:hover {
            background-color: map-get($colors, "secondary-50");
            cursor: pointer;
          }
        }

        .menu-label {
          white-space: nowrap;
        }

        .action-logout {
          color: #ef4444;
        }
      }
    }
  }
}
