.page-articles {
  .section {
    &-public-post {
      .section-title {
        font-size: map-get($font-sizes, "xl");
        font-weight: map-get($font-weights, bold);
        padding: 20px 0;
      }

      .post-item {
        margin-bottom: 20px;
      }
    }

    &-article-detail {
      margin: 32px 0;

      .short-info-author-name {
        font-size: map-get($font-sizes, "md");
        margin-bottom: 2px;
      }

      .short-info-author-avatar {
        width: 34px;
        height: 34px;
      }

      .short-info {
        .icon {
          margin-left: 6px;
          width: 16px;
          height: 16px;
        }
      }

      .article-detail-status {
        display: flex;
        justify-content: flex-end;
      }

      .article-action-list {
        display: flex;
        flex-direction: column;
        gap: 20px;
        top: 102px;
        cursor: pointer;

        .article-action-item {
          position: relative;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 4px;

          &:hover {
            .tooltip {
              position: absolute;
              display: inline-block;
              right: 60px;
            }
          }
        }
      }

      .list-comments {
        &-title {
          margin-bottom: 24px;
          font-weight: map-get($font-weights, "medium");
        }

        .comment-input {
          resize: none;
          font-family: "Montserrat", sans-serif;
          font-size: map-get($font-sizes, "sm");
        }
      }
    }
  }
}

.section-article-list {
  padding: 20px 0;

  .section {
    &-tags-title {
      font-size: map-get($font-sizes, "2xl");
      font-weight: map-get($font-weights, medium);
      padding-block: 20px;
      word-break: break-word;
      line-height: 1.1;
    }
  }

  .post-item {
    margin-bottom: 20px;
  }
}

.article-list {
  &-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }
}

@include tablet {
  .page-articles {
    .section-article-detail {
      margin-top: 0;
      margin-bottom: 24px;

      .article-action-list {
        flex-direction: row;
        gap: 20px;
        padding: 20px 10px 10px;

        .article-action-item {
          flex-direction: row;
        }
      }
    }

    .list-comments-section {
      margin-bottom: 20px;
    }
  }
}

@include mobile {
  .page-articles {
    .section-article-detail {
      margin-top: 0;
      margin-bottom: 24px;

      .article-detail {
        &-title {
          font-size: 22px;
        }

        &-desc {
          font-size: map-get($font-sizes, "md");
        }

        &-paragraph {
          font-size: map-get($font-sizes, "sm");
        }
      }
    }
  }
}

@media screen and (max-width: 1250px) {
  .page-articles {
    .section {
      &-article-detail {
        display: flex;
        gap: 48px;

        .article-action-list {
          .article-action-item {
            &:first-child {
              &:hover {
                .tooltip {
                  position: absolute;
                  display: inline-block;
                  bottom: -32px;
                  right: 22px;
                }
              }
            }

            &:hover {
              .tooltip {
                position: absolute;
                display: inline-block;
                bottom: -32px;
                right: 4px;
              }
            }
          }
        }
      }
    }
  }
}
