.page-write-article {
  min-height: 100vh;
  padding: 20px 0;
  background: #eee;

  .article {
    &.article-detail {
      background-color: unset;
    }
  }

  .editor-header {
    margin-bottom: 20px;
  }

  .row {
    justify-content: center;
  }
}

@include tablet {
  .page-write-article {
    min-height: auto;

    .article-detail {
      padding: 10px;
    }
  }
}
