.page-write-article {
  min-height: 100vh;
  padding: 20px 0;

  .article {
    &.article-detail {
      background-color: unset;
    }

    &-content {
      min-height: 645px;
    }
  }

  .editor-header {
    margin-bottom: 20px;
  }

  .row {
    justify-content: center;
  }
}

@include tablet {
  .page-write-article {
    min-height: auto;

    .article {
      &-detail {
        padding: 10px;
      }

      &-content {
        min-height: 661px;
      }
    }
  }
}
