.page-article-detail {
  margin: 32px 0;

  .section {
    &-article-detail {
      margin-top: 32px;
    }
  }

  .interaction-list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    top: 102px;

    .icon {
      cursor: pointer;
    }

    .interaction-item {
      position: relative;
      display: flex;
      justify-content: center;

      &:hover {
        .tooltip {
          position: absolute;
          display: inline-block;
          right: 60px;
        }
      }
    }
  }

  .article {
    padding-right: 6px;
    margin-bottom: 48px;

    &-detail {

      &-tag-list {
        display: flex;
        margin-bottom: 16px;
      }

      &-tag-item {
        margin-right: 4px;
      }

      &-title {
        font-size: map-get($font-sizes, "3xl");
        font-weight: map-get($font-weights, bold);
        line-height: 1.1;
        margin-bottom: 24px;
      }

      .short-info {
        margin-bottom: 32px;
      }

      &-cover {
        margin-bottom: 32px;
        border-radius: 12px;
      }

      &-paragraph {
        font-family: Source Serif;
        font-size: map-get($font-sizes, xl);
        font-weight: map-get($font-weights, normal);
        line-height: 1.6;
      }
    }
  }

  .sidebar {
    padding-left: 6px;
  }
}
