.change-password {
  &-page {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-color: #eff0f0;
  }

  &-title {
    font-size: map-get($font-sizes , '2xl' );
    font-weight: map-get($font-weights, medium );
    color: map-get($colors, primary );
    padding-bottom: 18px;
    line-height: 1.5;
  }

  &-wrapper {
    min-width: 700px;
    background-color: #ffffff;
    padding:18px 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
  }
}
