.change-password {
  &-page {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 100vh;
    background-color: #eff0f0;
  }

  &-title {
    font-size: map-get($font-sizes , '3xl' );
    font-weight: map-get($font-weights, bold );
    padding-block: 24px;
    line-height: 1.5;
  }

  &-wrapper {
    min-width: 700px;
    background-color: #ffffff;
    padding: 24px;
    border-radius: 6px;
  }
}
