.page-home {
  margin: 20px 0;

  .section-public-post {
    .post {
      &-list {
        padding-bottom: 10px;

        &-title {
          font-size: map-get($font-sizes, "2xl");
          font-weight: map-get($font-weights, medium);
        }
      }

      &-item {
        padding-block: 10px;
      }
    }

    .section {
      &-title {
        font-size: map-get($font-sizes, "xl");
        font-weight: map-get($font-weights, "bold");
        padding-block: 24px;
      }

      &-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
      }

      &-footer {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .recommend-section {
    padding-bottom: 20px;

    .recommend-article {
      position: relative;
      height: 580px;

      &.sm {
        height: 280px;

        &:first-child {
          margin-bottom: 12px;
        }
      }

      &-image-wrapper {
        height: 100%;
        width: 100%;
      }

      &-image {
        height: 100%;
        border-radius: 8px;
      }

      &-content {
        position: absolute;
        left: 30px;
        bottom: 30px;
        color: #ffffff;
      }

      .tag-list {
        gap: 12px;
        margin-bottom: 16px;
      }

      &-title {
        max-width: 440px;
        font-weight: map-get($font-weights, "normal");
        font-size: map-get($font-sizes, "xl");
        line-height: 1.5;
        margin-top: 16px;

        &:hover {
          color: map-get($colors, "dark-yellow");
        }
      }

      &-about {
        align-items: center;
        gap: 16px;
      }

      &-author {
        align-items: center;
        gap: 10px;

        &:hover {
          .author-name {
            color: map-get($colors, "dark-yellow");
          }
        }
      }

      &-date {
        font-size: map-get($font-sizes, "sm");
      }

      .author {
        &-avatar-wrapper {
          border-radius: 50%;
          width: 30px;
          height: 30px;
          background-color: #ffffff;
        }

        &-avatar {
          border-radius: 50%;
          height: 100%;
        }
      }

      .dot-symbol {
        font-size: 10px;
        color: white;
      }
    }

    .skeleton {
      width: 100%;
      height: 580px;
      border-radius: 8px;

      &.sm {
        height: 280px;

        &:first-child {
          margin-bottom: 20px;
        }
      }
    }

    .overlay {
      position: absolute;
      border-radius: 8px;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(to top, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0));
      pointer-events: none;
    }

    .title-0 {
      font-size: 30px;
      -webkit-line-clamp: 3;
    }
  }
}

@include tablet {
  .page-home {
    .section-public-post {
      .section-footer {
        margin-bottom: 32px;
      }
    }
  }
}

@include mobile {
  .page-home {
    margin: 12px 0;

    .section-public-post {
      .post-list {
        padding-bottom: 0;
      }

      .post-item {
        padding-block: 6px;
      }
    }

    .section-footer {
      padding: 10px 0;
      margin-bottom: 10px;
    }

    .recommend-section {
      .recommend-article {
        height: 300px !important;
        margin-bottom: 12px;

        &.sm {
          height: 180px !important;

          .recommend-article-title {
            font-size: map-get($font-sizes, "xl") !important;
          }
        }
      }

      .skeleton {
        margin-bottom: 20px;
        height: 300px !important;

        &.sm {
          height: 180px !important;
        }
      }
    }
  }
}
