.register-page {
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)),
    url("https://images.pexels.com/photos/247929/pexels-photo-247929.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1")
      no-repeat center center/cover;

  .register {
    &-wrap {
      width: 70vw;
      padding: 30px;
      background-color: map-get($colors, "white");
      border-radius: 20px;
      align-items: center;
      justify-content: center;
      box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
        rgba(0, 0, 0, 0.23) 0px 6px 6px;
    }

    &-title {
      font-size: map-get($font-sizes, "3xl");
      font-weight: map-get($font-weights, "medium");
      margin-bottom: 40px;
    }

    &-action {
      justify-content: flex-end;
    }

    &-btn {
      padding: 10px 30px;
    }

    &-cover-wrap {
      height: 100%;
      align-items: center;
      justify-content: center;
    }
  }

  .form-check {
    &-wrap {
      margin-top: -5px;
    }
    &-title {
      font-weight: map-get($font-weights, "regular");
      margin-bottom: 10px;
    }
    &-item {
      margin-right: 20px;
      align-items: center;
      justify-content: center;
    }
    &-input {
      width: 20px;
      height: 20px;
      margin-right: 10px;
      cursor: pointer;
    }
  }

  .register-redirect {
    text-align: center;
    margin-top: 16px;
    &-link {
      color: map-get($colors, "primary");
    }
  }
}
