.page-user {
  min-height: 100vh;
  padding-top: 64px;
  background: linear-gradient(
    to bottom,
    black 0%,
    black 128px,
    transparent 128px,
    transparent 100%
  );

  .post-item {
    margin-bottom: 16px;
  }

  .profile-section {
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);
    border-radius: 12px;

    .profile {
      margin-top: -48px;

      &-header {
        position: relative;
        justify-content: center;

        .user {
          &-avatar-wrapper {
            position: relative;
            width: 118px;
            height: 118px;
            border-radius: 50%;
            padding: 8px;
            background-color: black;
            z-index: 2;
          }

          &-avatar {
            border-radius: 50%;
            background-color: #ffffff;
          }
        }

        &-action {
          width: 100%;
          padding: 24px 24px 0px;

          position: absolute;
          right: 0;
          bottom: 0;

          border-top-right-radius: 8px;
          border-top-left-radius: 8px;

          justify-content: flex-end;
          background-color: #ffffff;
        }
      }

      &-content {
        background-color: #ffffff;
        padding: 12px;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        align-items: center;

        .user {
          &-name {
            font-size: 27px;
            font-weight: map-get($font-weights, "medium");
            line-height: 1.4;
            margin-bottom: 8px;
            color: map-get($colors, "primary");
          }

          &-follow-list {
            margin-bottom: 16px;
            gap: 64px;
          }

          &-follow-amount {
            font-size: 18px;
            font-weight: map-get($font-weights, "medium");
          }

          &-about-list {
            font-size: map-get($font-sizes, "sm");
            color: #717171;
            margin-bottom: 8px;
            gap: 64px;
          }

          &-about-item {
            gap: 10px;
            align-items: center;
          }
        }
      }
    }
  }

  .filter {
    display: flex;
    gap: 20px;
    padding-bottom: 16px;
    justify-content: center;
    &-item {
      cursor: pointer;
      padding: 8px 16px;
      border: 2px solid transparent;
      position: relative;
      font-size: map-get($font-sizes, "sm");
      font-weight: map-get($font-weights, "medium");

      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 0;
        height: 2px;
        background-color: map-get($colors, "yellow");
        transition: width 0.3s ease;
      }

      &:hover {
        &::after {
          width: 100%;
        }
      }
    }

    .active {
      &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: -2px;
        width: 100%;
        height: 2px;
        background-color: map-get($colors, "yellow");
        transition: width 0.3s ease;
      }
    }
  }

  .section {
    &.section-wrapper {
      padding: 16px 0;
    }
  }

  .skeleton {
    &-user-profile {
      display: flex;
      justify-content: center;
      width: 100%;
      height: 240px;
      border-radius: 8px;
    }

    &-user-avatar {
      margin-top: -64px;
      width: 120px;
      height: 120px;
      border-radius: 50%;
      border: 8px solid black;
    }

    &-user-sidebar {
      width: 100%;
      height: 176px;
      border-radius: 8px;
    }

    &-personal-list {
      width: 100%;
      height: 176px;
      border-radius: 8px;
    }
  }
}

.change-password {
  &-title {
    text-align: center;
    font-size: 22px;
    font-weight: map-get($font-weights, medium);
    color: map-get($colors, primary);
    padding-bottom: 24px;
    line-height: 1.5;
  }

  &-wrapper {
    background-color: #ffffff;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);

    .form-group {
      display: flex;
      align-items: center;
      flex-direction: column;

      .input-group {
        width: 400px;
      }
    }
  }
}

.update-profile {
  &-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 6px;
    box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.12);

    .form-group {
      width: 400px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  &-title {
    text-align: center;
    font-size: 22px;
    font-weight: map-get($font-weights, medium);
    color: map-get($colors, primary);
    padding-bottom: 24px;
    line-height: 1.5;
  }

  &-avatar-group {
    flex-direction: column;
    align-items: center;
    gap: 8px;
    margin-bottom: 24px;
    width: 400px;
  }

  &-upload-label {
    padding: 6px 10px;
  }

  &-avatar-wrapper {
    width: 70px;
    height: 70px;
    border-radius: 50%;
  }

  &-avatar {
    background-color: white;
    border-radius: 50%;
  }
}
